<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Poke-Scrap</title>
  <style>
    body { font-family: sans-serif; font-size: 14px; text-align: center; padding: 50px; color:blanchedalmond; background-color: slategrey;}
    button { font-size: 18px; padding: 10px 20px; margin-top: 50px;}
	table { font-size: 14px; margin-left: auto; margin-right: auto; border-collapse: collapse;}
	
  </style>
</head>
<body>
  <h1><span id="plop"></span></h1>
  

  <table border="1">
    <thead>
      <tr>
		<th>Sales</th>
        <th>Sellers</th>
        <th>Prices</th>
        <th>Quantities</th>
      </tr>
    </thead>
    <tbody id="scrapTableBody">
      <!-- Les résultats du scrapper apparaîtront ici -->
    </tbody>
  </table>

  <div id="user-area">
    <button onclick="window.location.href='http://localhost:5000/scrapper'">Scrap !</button>
    <button onclick="window.location.href='http://localhost:5000/logout'">Deconnexion</button>
  </div>

  <script>

    // arg1 => categorie du produit (etb ou booster)
    // arg2 => nom du produit 
    // (pour le moi du futur: arg3 => country et arg4 => langue)

    let arg1 = "etb";
    // let arg1 = "booster";
    let arg2 = "prismatic evolutions";
    // let arg2 = "151";
    // let arg2 = "Destined Rivals";
    
    let arg3 = "switzerland";
    // let arg3 = "france";

    let arg4 = "french";
    // let arg4 = "english";

    // arg1 = encodeURIComponent(arg1);
    // arg2 = encodeURIComponent(arg2);

    fetch(`/run-scrapper?arg1=${encodeURIComponent(arg1)}&arg2=${encodeURIComponent(arg2)}&arg3=${encodeURIComponent(arg3)}&arg4=${encodeURIComponent(arg4)}`) // Mets les bons arguments ici
      .then(res => res.json())
      .then(data => {
        const tbody = document.getElementById('scrapTableBody');
        data.forEach(item => {
          const row = document.createElement('tr');

          const article = document.getElementById('plop');
		      const name = item.articleCategorie + ': ' + item.articleName;
		      article.textContent = name + "." + "(langue: " + arg4 + ", pays: " + arg3 + ").";
          
		      const cellSales = document.createElement('td');
          cellSales.textContent = item.sellerLevel;
          row.appendChild(cellSales);

          const cellName = document.createElement('td');
          cellName.textContent = item.sellerName;
          row.appendChild(cellName);


          const cellPrice = document.createElement('td');
          cellPrice.textContent = item.articlePrice;
          row.appendChild(cellPrice);

          const cellAmount = document.createElement('td');
          cellAmount.textContent = item.articleAmount;
          row.appendChild(cellAmount);

          tbody.appendChild(row);
        });
      })
      .catch(err => {
        console.error('Erreur lors du fetch :', err);
      });
  </script>

</body>
</html>
