<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Poke'Scrap</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <style>
    body { font-family: sans-serif; font-size: 14px; text-align: center; padding: 50px; color: #c1c1c1; background-color: #47284c;}
    button { font-size: 18px; padding: 10px 20px; }
    button:hover { border: solid 2px #31395a }
  </style>
</head>
<body>
	<img src="/logo.png" alt="logo" width="200px">
  <h1 id="plop">PokeScrap !</h1>
  
  <div id="user-area">
    <button id='bou' onclick="window.location.href='/auth/google'">Connexion avec Google</button>
  </div>

  <script>
  //  fetch('/api/user')
  //    .then(response => response.json())
   //   .then(json => {
     //   if (json.name) {
   //       document.getElementById('plop').textContent = json.name;
   //     }
        // document.getElementById('img_plop').src = json.picture;
    //  })
    //  .catch(error => {
    //    console.error('Erreur lors du fetch :', error);
   //   });
  </script>
</body>
</html>
